#sidebar2
	width 100%
  position absolute
	left 0
	top 0
	z-index 1
	background white
	width 30%
	box-shadow 2px 0 4px rgba(0,0,0,0.5)
	transition width .35s
	&.collapsed 
		width 0
#sidebar2-closer
	width 30px
	height 30px
	border-radius 50%
	border none
	outline none
	background black
	margin 20px
	cursor pointer 
	float right