// Depends on original sidebar!
.right-sidebar
  width sidebar-width
  height sidebar-height
  position fixed
  top 0
  bottom 0
  margin-top 80px
  overflow-x scroll
  transition mainTransition
  z-index 10
  right: 0px;

  &.full
    width sidebar-width
    background-color: #fff