.ui-square
  width 25px
  height 25px
  display inline-block

.color-new
  background-color: #ccc

.color-scheduled-deps-satisfied
  background-color: #06F

.color-scheduled
  background-color: #F00

.color-started
  background-color: #FF0

.color-suspended
  background-color: #999

.color-cancelled
  background-color: #333

.color-done
  background-color: #26de81
